* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background: #fff7f9;
    color: #3a3a3a;
}

.logo {
    font-size: 22px;
    color: #c94a6a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 60px;   
    background: #ffe6ee;
    border-bottom: 1px solid rgba(0,0,0,0.05); 
}

.nav a {
       position: relative;
    text-decoration: none;
    color: #b44a68;

    padding: 8px 6px;  
    margin-left: 18px; 

    font-size: 16px;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 6px;
    height: 6px;
    background: #b44a68;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    transition: all 0.4s ease;
}

.nav a:hover::after {
    width: 80%;
    height: 2px;
    border-radius: 10px;
    transform: translateX(-50%) scale(1);
    opacity: 1;
    background: linear-gradient(
        to right,
        transparent,
        #b44a68,
        transparent
    );
}

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#ffe4ec, #fff7f9);
}

.text h1 {
    font-size: 48px;
    color: #c94a6a;
}

.text p {
    margin: 20px auto;
    max-width: 600px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 32px;
    background: #c94a6a;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform 0.3s;
    margin: 12px;
}

.btn:hover {
    transform: scale(1.2);
    background: #962f4b;
}

.section {
    padding: 90px 15%;
    text-align: center;
}

.section h2 {
    color: #c94a6a;
    margin-bottom: 25px;
}

.section p {
    line-height: 1.9;
    font-size: 16px;
}

.long-text {
    max-width: 750px;
    margin: auto;
}

.soft {
    height: 120px;
    background: linear-gradient(to bottom, #fff7f9, #ffe4ec);
}

.qualities {
    padding: 90px 10%;
    background: #fff;
    text-align: center;
}

.qualities h2 {
    color: #c94a6a;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.card {
    background: #fff7f9;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-12px);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 25px;
    padding: 70px 15%;
    
}

.box {
    height: 240px;
    border-radius: 18px;
    overflow: hidden;      
    background: #ffd6e2;
    transition: transform 0.4s;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    transition: transform 0.5s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box:hover img {
    transform: scale(1.1); 
}


.closing {
    padding: 100px 15%;
    text-align: center;
    background: linear-gradient(#ffe4ec, #fff7f9);
    font-size: 18px;
}

.footer {
    text-align: center;
    padding: 28px;
    background: #ffe4ec;
    color: #6a2c40;
}

@media (max-width: 768px) {
    .section {
        padding: 70px 8%;
    }

    .hero-text h1 {
        font-size: 36px;
    }
}

